* {box-sizing: border-box; 
    padding: 0; 
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.myDiv{
    width: 100vw;
    height: 50vh;   
    background-color: lightblue;
}

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}

.phrase{
    position:absolute;
    top: 600px;
    left: 300px;
    color: blue;
    font-size: 100px;
}



.cities{
    width: 100vw;
    height: 40vh;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    display: flex;
    background-color: lightblue;
    padding: 50px;
}

.cities > div{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
}.cities > img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}